*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,
ol {
    list-style: none;
}
a {
    text-decoration: none;
    display: inline-block;
}
.container {
    width: 1140px;
    margin: 0 auto;  
} 

nav{
    padding-top: 30px;
    background-image: url(./img/header-bg.jpg);
    background-size: cover;
    height: 900px;
}
nav .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    display: flex;
    align-items: center;
}
.logo ol{display: flex; margin-left: 40px;}
.logo ol li {
    color: white;
     margin-left: 20px;
     font-family: 'Anton';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;

    
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
.tel{
    font-family: 'Anton';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 26px;
text-align: right;
letter-spacing: 0.1em;
text-transform: uppercase;

color: #FFFFFF;
}
.text-NOT{
    width: 1140px;
    margin: 250px auto; 
}