*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,
ol {
    list-style: none;
}
a {
    text-decoration: none;
    display: inline-block;
}
.container {
    width: 1140px;
    margin: 0 auto;  
} 

nav{
    padding-top: 30px;
    background-image: url(./img/header-bg.jpg);
    background-size: cover;
    height: 700px;
}
nav .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    display: flex;
    align-items: center;
}
.logo ol{display: flex; margin-left: 40px;}
.logo ol li {
    color: white;
     margin-left: 20px;
     font-family: 'Anton';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;

    
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
.tel{
    font-family: 'Anton';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 26px;
text-align: right;
letter-spacing: 0.1em;
text-transform: uppercase;

color: #FFFFFF;
}
.text-NOT{
    width: 1140px;
    margin: 250px auto; 
}
.text-1{
    font-family: 'Anton';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 45px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.text-2{
font-family: 'Anton';
font-style: normal;
font-weight: 400;
font-size: 70px;
line-height: 151px;
text-transform: uppercase;

color: #FFFFFF;
}
.text-bun{
    width: 238px;
height: 57px;
left: 216px;
top: 521px;
background-color: rgba(255, 0, 0, 0);
border: 1px solid #FFFFFF;
font-family: 'Anton';
font-style: normal;
font-weight: 400;
font-size: 17px;

text-align: center;
letter-spacing: 0.1em;
text-transform: uppercase;

color: #FFFFFF;
}
.form{
    padding-top: 120px;
}
.form .container h1{
    font-family: 'Anton';
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 75px;
text-transform: uppercase;

color: #000000;
}
.form .container .container{
    display: flex;
    justify-content: space-between;
}
.ona-1 , .ona-2{
    width: 49%;
}
.h1{
font-family: 'Anton';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 38px;
text-transform: uppercase;

color: #000000;
} 
.text-ona{
    padding-top: 29px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
text-align: justify;

color: #000000;
}
.img-rasm {
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
}